body {
  background-color: #3a3f48;
}

h1 {
  font-size: 7rem;
  color: #4ECCA3;
  text-shadow: 2px 3px 2px black;
  font-family: 'Lobster', cursive;
}

h3 {

  color: #4ECCA3;
  font-family: fantasy;
}

.but {
  border-radius: 27px;
  background-color: white;
  color: darkgray;
  padding: 10px 15px;
  border: none;
}



.click {
  text-decoration: underline;
  color: white;
}
.click:hover {
  color: #4ECCA3;
  cursor: pointer;
}
.container {
  font-size: 2rem;
  display: flex;
  justify-content: center;

}
.players {
  margin: 0 50px;
  text-align: center;
}
.huge {
  font-size: 10rem;
}

#result:hover {
  cursor: pointer;
}
